<% if !user_signed_in?%>
  <p>There is nothing here yet. If you have created this property, login to your agent account and make payment to activate this link</p>
  <%else%>
<div class="form-booking">
</div>
  <%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, class:"mb-0" %>
    <%= form.text_field :name ,required: true, class:"form-control mb-2" %>

  </div>
    <div class="field">
    <%= form.label :email, class:"mb-0" %>
    <%= form.email_field :email,required: true, class:"form-control mb-2" %>

  </div>
    <div class="field">
    <%= form.label :phone, class:"mb-0" %>
    <%= form.number_field :phone,required: true, class:"form-control mb-2" %>
  </div>
</div>
<div class="col-md-7">
    <%= form.text_field :start_time, id:"datetimepicker3" %>
    <%= form.hidden_field :property_id,value:params[:id] %>
    <div class="actions text-right">

      <% if @property.status == "live" %>
       <%= form.submit "Create Booking", class:"btn btn-primary btn-lg mt-3" %>
      <%else%>
        <i  class="btn btn-primary btn-lg mt-3">Create Booking</i>
      
        <p>This is just a preview page. Bookings can only be created if you visit this page as customer via property URL. Property URL will be active after payment.</p>
      <%end%>
    </div>
</div>    
<% end %>  

<% end %>
<script>
  $('#datetimepicker3').datetimepicker({
  format:'m/d/Y h:i A',
  inline:true,
  // timepicker:false,
  step: 30,
  minDate: 0,
  minTime:'8:00',
  maxTime:'20:30',
  timepicker: true
	// onGenerate:function( ct ){
 //    jQuery(this).find('.xdsoft_date.xdsoft_weekend')
 //      .addClass('xdsoft_disabled');
 //  }
 
});


$('form').on('submit',function(){
  if($('#datetimepicker3').val() == ''){
    alert('Please Select Start Date');
    return false;
  }
})
</script>

