<h1>New Booking</h1>
 <div class="propert-box">
 	<div class="property" style="background-image: url(<%= @property&.pictures[0]&.url %>)">
 	</div>
 	<%=@property.name%>
 </div>
<%=@property.name%>
<%= render 'form', booking: @booking %>

<%= link_to 'Back', bookings_path %>
