<p id="notice"><%= notice %></p>
 <div class="propert-box">
 	<div class="property" style="background-image: url(<%= @booking.property&.pictures[0]&.url %>)">
 	</div>
 	<%=@booking.property.name%>
 </div>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>
<p>
  <strong>Scheduled at:</strong>
  <p style="color:green"><%= @booking.start_time.strftime("%b %d ,%Y at %l:%M %p") %></p>
</p>
<h4>Your meeting is scheduled for property check your E-mail.</h4>






<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
