<%= form_for @property ,action:"approval_type" ,controller:"properties" do |f| %>

   <div class="form-group mt-3">
    <%= f.radio_button :approval_type ,"Auto_approves" %>Auto Approves
     <%= f.radio_button :approval_type ,"Agent_approves" %>Agent Approves
      <%= f.radio_button :approval_type ,"Occupant_approves" %>Occupant approves
  </div>

  <div class="actions mt-3">
    <%= f.submit("Save",class:"btn btn-primary float-right") %>
  </div>
<% end %>
