<div id="property">
      <%= form_with(model: property ,remote: true) do |form| %>
        <% if property.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
            <ul>
            <% property.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <h4 class="text-center mb-2">New Property Details</h4>
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= form.label :picture %>
          
          <%= form.file_field :pictures,multiple:true, id:'fileUpload', required: true, class: 'form-control' %>
          <div id="upload_bar"></div>
          
        </div>

       <!--  <div class="form-group">
          <%= form.label :beds %>
          <%= form.number_field :beds, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= form.label :baths %>
          <%= form.number_field :baths, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control', required: true %>
        </div> -->
         <div class="field">
          <%= form.hidden_field :user_id ,value:current_user.id %>
        </div>

        <div class="actions">
          <%= form.submit("Next",class:"btn btn-primary float-right", id: "next",data: { disable_with: 'Uploading'}) %>
        </div>
      <% end %>
      </div>
        <div id="agent">
        </div>
        <div id="approval">
        </div>
         <div id="back">
        </div>
        <div id="after-update">
          
        </div>
        <div id="user">
          
        </div>
         <div id="agent2">
          
        </div>


<script>
  $('.step').eq(0).addClass('active');
</script>

<script type="text/javascript">
  $("#next").click(function(){
    $("#upload_bar").empty().append('<div class="progress"><div class="progress-bar" style="width:2%; background-color: green;">2%</div></div>');
    var total_files_count = $("#fileUpload")[0].files.length;
    
    
       var previous = 0;
          
    function update_status(){
      
      $.ajax({
        type:"GET",
        url:"<%= get_status_properties_path %>",
        dataType:"json",
        data: {total_count: total_files_count,previous: previous++},
        
        success: function(result){
         html = '<div class="progress"><div class="progress-bar" style="width:'+result.progress+'%; background-color: green;">'+result.progress+'%</div></div>';
          $("#upload_bar").empty().append(html);

           
          // if (result.prog_count < total_files_count){
          //   update_status();
          // }
          // else{
           
          //   return;
          // }
        }

      });
    
    }
    
    for(var i=0; i<total_files_count;i++)
    {
    update_status();
    }    
  });
</script>







<!-- multi step -->
