<div id="property">
      <%= form_with(model: property ,remote: true) do |form| %>
        <% if property.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
            <ul>
            <% property.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <h4 class="text-center mb-2">New Property Details</h4>
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :picture %>
          
          <%= form.file_field :pictures, multiple:true,id:'fileUpload',required: true, class: 'form-control' %>
              <div id="progress">
                <div class="bar" style="width: 0%;"></div>
              </div>
          
        </div>

        <div class="form-group">
          <%= form.label :beds %>
          <%= form.number_field :beds, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :baths %>
          <%= form.number_field :baths, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>
         <div class="field">
          <%= form.hidden_field :user_id ,value:current_user.id %>
        </div>

        <div class="actions">
          <%= form.submit("Next",class:"btn btn-primary float-right" ,data: { disable_with: 'Uploading'}) %>
        </div>
      <% end %>
      </div>
        <div id="agent">
        </div>
        <div id="approval">
        </div>
         <div id="back">
        </div>
        <div id="after-update">
          
        </div>
        <div id="user">
          
        </div>
         <div id="agent2">
          
        </div>


<script>
  $('.step').eq(0).addClass('active');
</script>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>







<!-- multi step -->
