<p id="notice"><%= notice %></p>
<div class="container pt-3 pb-5">

  <h1 class="text-center">Properties</h1>
  <div class="text-right mb-3">
    <%= link_to 'New Property', new_property_path ,class:"btn btn-primary"%>
  </div>

  <div class="row">
<% current_user.properties.each do |property| %>
    <div class="col-md-4 mb-3">
      <div class="propert-box">
        <div class="property" style="background-image: url(<%= property&.pictures[0]&.url %>)">
          <div class="listing-badges">
          <span class="featured">
            <%= property.status %>
          </span>
          </div>
          <div class="property-overlay"></div>
        </div>
        <div class="propert-name">
          <h4 class="text-primary mb-0"><%= property.name %></h4>
          <i class="fas fa-map-marker-alt"></i> <%= property.address %>
        </div>
        <div class="property-spec">
        <div class="row">
          <div class="col-3 text-center">
            <p class="font-weight-bold mb-0">Beds</p>
            <p><%= property.beds %></p>

          </div>
          <div class="col-3 text-center">
            <p class="font-weight-bold mb-0">Baths</p>
            <p><%= property.baths %></p>
          </div>
          <!-- <div class="col-6 text-center">
            <p class="font-weight-bold mb-0">Approval Type</p>
            <p><%= link_to property.approval_type.humanize, approval_new_properties_path(id:property.id),class:"" %></p>
          </div> -->
          <div class="col-6 text-center">
            <p class="font-weight-bold mb-0">Agent</p>
           <%=image_tag (property.user.profile_pic_url || "image"), style:" vertical-align: middle;width: 35px;height: 35px;border-radius: 50%;" %>
           <% if property.agents.count > 0%>
            <%= link_to property&.agents&.last&.name, agent_path(id:property&.agents&.last&.id) %>
            <%end%>
          </div>
        </div>
      </div>

      <div class="propert-name">
        <div class="row">
          <div class="col-3 text-center">
            <%= link_to 'Show', property,class:"btn btn-primary radius-5" %>
          </div>
          <div class="col-3 text-center">
            <%= link_to 'Edit', edit_property_path(property),class:"btn btn-primary radius-5" %>
          </div>
          <div class="col-3 text-center">
            <%= link_to 'Delete', property, class:"btn btn-danger radius-5", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="col-3">
            <% if property.status == "pending"%>
            <%= form_tag charges_path do %>
            <div id="error_explanation">
              <% if flash[:error].present? %>
                <p><%= flash[:error] %></p>
              <% end %>
            </div>
              <%= hidden_field_tag(:property,property.id) %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Subscription"
              data-amount="1000.00"
              data-locale="auto">
              </script>
              <% end %>
              <%else%>
               <%= link_to("Invoice", Stripe::Charge.retrieve(property.stripe_id).receipt_url, target: :_blank,class:"btn btn-warning" ) if property.stripe_id.present?  %>
              <%end%>


          </div>
        </div>
      </div>



      </div>
    </div>
  <%end%>
  </div>

</div>
