<div class="container-fluid bg-light">
<div class="demo-gallery">
<div id="lightgallery" class="row">
    <div class="col-6">
        <div class="row height-image">
            <div class="col-12 background-image background-image-0">
                <img class="d-none">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <% @property.pictures.each_with_index do |i,ind|%>
                <% if ind != 0 %>
                <div class="col-6">
                     <div class="row height-image-half">
                        <div class="col-12 background-image background-image-<%= ind %>">
                            <img class="d-none">
                        </div>
                    </div>
                </div>
                <% end%>
            <% end%>
        </div>
    </div>
</div>
</div>
<p id="notice"><%= notice %></p>
<div class="container py-3">
<div class="row">
  <div class="col-md-8">
    <h1><%= @property.name %></h1>
    <div class="row my-3">
      <div class="col-sm-3 text-center">
        <div class="bed-show">
          <i class="fas fa-bed font-30"></i>

          <h4 class="mt-1">Bed Room</h4>
          <hr class="my-2">
          <%= @property.beds %> signle bed
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="bed-show">
        <i class="fas fa-bath font-30"></i>

          <h4 class="mt-1">Bath</h4>
          <hr class="my-2">
          <%= @property.baths %> Baths
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="bed-show">
        <i class="fas fa-map-marker-alt font-30"></i>


          <h4 class="mt-1">Location</h4>
          <hr class="my-2">
            <%= @property.address.truncate(17) %>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="bed-show">

        <i class="far fa-check-circle font-30"></i>

          <h4 class="mt-1">Approval</h4>
          <hr class="my-2">
          <%= @property.approval_type.humanize %>
        </div>
      </div>

    </div>
    <h3 class="mb-2 mt-3">Description</h3>
      <%= @property.description %>
  </div>
  <div class="col-md-4 mt-5">
    <div class="left-sidebar">
      <h3 class="text-center">Want to see this property?</h3>
      <p class="text-center"> Schedule a visit now</p>
      <a href="#" class="btn btn-primary btn-block">Book Now</a>
    </div>
  </div>

</div>


</div>

</div>
<%#= link_to 'Edit', edit_property_path(@property) %>
<%#= link_to 'Back', properties_path %>



 <script>

      $('#lightgallery').lightGallery();

  $('.background-image').each(function(index){
    $(this).hover(function(){
         $('.background-image').css('opacity','0.5');
         $('#lightgallery .row').css('overflow','hidden');
         $('.background-image').css('transform','scale(1)');
         $(this).css('opacity','1');
         $(this).css('transform','scale(1.1)');
         $(this).css('z-index','1');
    });
    $('#lightgallery').mouseout(function(){
       $('.background-image').css('opacity','1');
       $('.background-image').css('transform','scale(1)');
    });
    $(this).addClass('background-image-' + index);
    if(index > 4){
     $(this).closest('.col-6').hide();
    }
  });
<% @property.pictures.each_with_index do |i,ind|%>
    $('.background-image-'+ <%= ind %>).css('background','url(<%= i.url%>)');
    $('.background-image-'+ <%= ind %>).attr('data-src','<%= i.url%>');
    $('.background-image-'+ <%= ind %>).attr('data-responsive','<%= i.url%>');
    $('.background-image-'+ <%= ind  %>+ ' img').attr('src','<%= i.url%>');
<% end %>

</script>
