

<div class="form">
<%= form_for agent ,remote: true do |f| %>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture ,required: true%>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,value:current_user.name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email,value:current_user.email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :property_id, value: property_id %>
  </div>

  <div class="actions">
    <%= f.submit("Next",class:"btn btn-primary")%>
  </div>
<% end %>
</div>
